body {
  //@include font-feature-settings("kern", "liga", "pnum");
  //color: $base-font-color;
  color: rgb(51,51,51);
  //font-family: $base-font-family;
  font-family: "AppleSDGothicNeo-Regular", "Noto Sans KR", sans-serif;
  //font-family: "애플 SD 산돌고딕 Neo", "APPLE SD Gothic Neo", -apple-system, BlinkMacSystemFont, 'Noto Sans KR', sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,

h1 {
	font-size: modular-scale(2);
}
h2 {
	font-size: modular-scale(2);
}
h3 {
	font-size: modular-scale(2);
}
h4 {
	font-size: modular-scale(1);
    font-weight: 400;
}
h5 {
	font-size: modular-scale(-1);
    text-align: center;
    color: gray;
}
h6 {
  font-family: "AppleSDGothicNeo-Regular", "Noto Sans KR", sans-serif;
  font-size: $base-font-size;
  font-weight: 200;
  line-height: $heading-line-height;
  margin: 0 0 $base-font-size;
  margin: 0 0 rem($base-font-size);
  font-size: modular-scale(-2);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  // transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 10%);
    text-decoration: underline;
    border-bottom-width: 20px;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {

}

blockquote {

}
